<div class="callout callout-info no-subheader">
    <div class="header">
        <i class="icon-info"></i>
        <h3><?= trans('keios.pgstripe::lang.info.header') ?></h3>
    </div>
    <div class="content">
        <ol>
            <li>Sign in to your <a href="https://dashboard.stripe.com/" target="_blank">Stripe Dashboard</a></li>
            <li>Copy <b>Secret Key</b> from <b><a href="https://dashboard.stripe.com/account/apikeys" target="_blank">API tab</a></b> into input below</li>
            <!--
            <li>Go to <a target="_blank" href="https://developers.facebook.com/">https://developers.facebook.com/</a> and click <b>Create a New App</b> in the <b>Apps</b> drop down.</li>
            <li>Enter your <b>Display Name</b> (usually your site name) along with any other required fields and click <b>Create App</b></li>
            <li>Copy your <b>App ID</b> and <b>App Secret</b> into the fields below.</li>
            <li>On the <b>Settings</b> tab set the <b>Valid OAuth redirect URIs</b> to <span style="color:green"></span></li>
            -->
        </ol>
        <p>For test credentials, enable <b>View Test Data</b> switch in Stripe Dashboard.</p>
        <p><strong>Test Cards Numbers</strong></p>
        <ul>
            <li>4000000000003055 - 3DSecure supported, but not required</li>
            <li>4000000000003063 - 3DSecure supported and required</li>
            <li>378282246310005	- 3DSecure not supported</li>
        </ul>
        <p>You can use these numbers in test mode with CVC 123 and any future valid date with these cards.</p>
    </div>
</div>